.imgProfile{
    width: 100px;
    height: 100px;
}
body{
    background-color: darkslategray;
}

header{
    display: flex;
    justify-content: space-between;
}

contentPage{
    background-color: white;
    width: 700px;
    height: 2000px;
    margin: auto;
    display: block;
    padding: 30px;
    box-shadow: 5px 5px 10px 1px black;
}
separationLine{
    width: 100%;
    height: 1px;
    background-color: black;
    display: block;
}
separationLine::after{
    content: '';
    width: 25%;
    height: 3px;
    background-color: black;
    display: block;
    position: absolute;
    margin-top: -1px;
}
school {
    display: flex;
    justify-content: space-between;
}
school > label{
    width: 120px;
    font-weight: 700;
}
schoolDetails{
    display: flex;
    flex-direction: column;
    float: left;
    width: 400px;
}
schoolDetails > campus{
    font-weight: 700;
}